body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.character {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-400%, -50%);
  align-self: self-start;
}
@keyframes jump {
  0% {
  }
  50% {
    top: 20%;
  }
  100% {
  }
}

/* Class to trigger jump animation */
.jumping {
  animation: jump 0.5s ease-in-out;
}
.face {
  width: 150px;
  height: 150px;
  background-color: #ffcc00;
  border-radius: 50%;
  position: relative;
}

.eyes {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.eye {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
}

.smile {
  width: 80px;
  height: 40px;
  border: 5px solid #000;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom: none;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.body {
  width: 100px;
  height: 150px;
  background-color: #ffcc00;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  overflow: hidden;
}
.land {
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 100vw;
  height: 200px;
  /* border-radius: 20%; */
  background-color: lime;
}
.hurdle {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 20px;
  background-color: brown;
  animation: move 5s ease alternate;
}
@keyframes move {
  0% {
  }
  100% {
    transform: translateX(-100vw);
    animation-play-state: paused;
  }
}