body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #272727;
}

.container {
    font-size: 1.25rem;
    background-color: #313131;
    color: #e7e7e7;
    padding: 40px;
    border-radius: 12px;
    margin: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    all: unset;
    background-color: #00b4d8;
    border-radius: 5px;
    font-size: 1rem;
    padding: 12px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0077b6;
}
.timer{
    transition: all 0.4s ease-in-out;

}